<form class="form" action="/login" method="post">
<!--   <label for="inputEmail" class="emailInput">Email</label>
    <input name="email" type="text" class="form-input" id="inputEmail" placeholder="Email" />
  <label for="inputPassword" class="passInput">Password</label>
    <input name="password" type="password" class="form-input" id="inputPassword" placeholder="Password" /> -->
  <label for="inputCatName" class="catNameInput">Your Cat-Name</label>
    <input name="catname" type="text" class="form-input" id="inputCatName" placeholder="Whiskerton" />
    <button type="submit" class="form-button"><span>Login</span></button>
</form>
